body {
  --slack-color: #3f0f40;
  overflow: hidden;
}


.app-body {
  display: flex;
  height:100vh;

}


.home-message-container{
  justify-content: space-between;
  padding: 100px;
  /* display: flex; */

}



@media (max-width: 991px) {
  .home-message-container{
    justify-content: space-between;
    /* display: flex; */
    padding:0px;
  
  }
  
}
.home-message-container > h1 {
   text-align: center;
}

.home-message-container > p {
text-align: center;
}
.home-welcome-img {
  height:auto !important;
  width:100%;
  align-items: center;
  object-fit: contain;
}